.title {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 32px;

    .h1 {
        color: var(--yellow-main);
    }
}

@media (max-width: 600px)
{
    .title {
        padding-bottom: 32px;
    }
}